* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --bg-color: #295264;
  --text-color: #fad9a6;
}

body {
  background-color: var(--bg-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--text-color);
  text-align: center;
  margin: 5rem 0;
  font-size: 3.5rem;
}

.panels {
  display: flex;
  width: 100%;
  height: 50vh;
  max-height: 600px;
  padding: 0 2rem;
  overflow: hidden;
  max-width: 70%;
  
}

.panel {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1.5rem;
  transition: .9s;
}

.panel.open {
  flex: 5;
}

.panel.open-active p:first-child, .panel.open-active p:last-child {
  transform: translateY(0);
}

.panel.open p:first-child, .panel.open p:last-child {
  font-size: 2rem;
}

.panel.open p:nth-child(2) {
  font-size: 5rem;
}

.panel > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1 0 auto;
}

.panel p {
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.panel p:first-child {
  font-size: 0rem;
  transform: translateY(-100%);
  transition: all cubic-bezier(0.37, 1.63, 0.62, 1.06) 1s;
}

.panel p:nth-child(2) {
  transition: .5s;
}

.panel p:last-child {
  font-size: 0rem;
  transform: translateY(100%);
  transition: all cubic-bezier(0.37, 1.63, 0.62, 1.06) 1s;
}

.panel1 {
  background-image: url(https://source.unsplash.com/random/?Dog/);
}
.panel2 {
  background-image: url(https://source.unsplash.com/random/?Cat/);
}
.panel3 {
  background-image: url(https://source.unsplash.com/random/?Lion/);
}
.panel4 {
  background-image: url(https://source.unsplash.com/random/?Wolf/);
}
.panel5 {
  background-image: url(https://source.unsplash.com/random/?Tiger/);
}

.back {
  position: absolute;
  right: 3rem;
  bottom: 1.5rem;
  width: fit-content;
  height: fit-content;
}

.back img {
  cursor: pointer;
  width: 8rem;
  transition: .8s;
}

.back img:hover {
  transform: rotate(-360deg);
}

@media screen and (max-width: 1400px) {
  .panels {
    max-width: 1000px;
  }
}