* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --bg-color: #295264;
  --text-color: #fad9a6;
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--text-color);
  text-align: center;
  margin: 5rem 0;
  font-size: 3.5rem;
}

.panels {
  display: flex;
  width: 100%;
  height: 50vh;
  max-height: 600px;
  padding: 2rem;
  overflow: hidden;
}

.panel {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 3rem;
}

.panel p {
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.panel p:first-child, .panel p:last-child{
  font-size: 2rem;
}

.panel1 {
  background-image: url(https://source.unsplash.com/random/?Dog/);
}
.panel2 {
  background-image: url(https://source.unsplash.com/random/?Cat/);
}
.panel3 {
  background-image: url(https://source.unsplash.com/random/?Lion/);
}
.panel4 {
  background-image: url(https://source.unsplash.com/random/?Wolf/);
}
.panel5 {
  background-image: url(https://source.unsplash.com/random/?Panther/);
}

.back {
  position: absolute;
  right: 3rem;
  bottom: 1.5rem;
  width: fit-content;
  height: fit-content;
}

.back img {
  cursor: pointer;
  width: 8rem;
  transition: .8s;
}

.back img:hover {
  transform: rotate(-360deg);
}